.footer {
  grid-template-columns: 1fr auto 1fr;
  gap: var(--space-sm);
  padding: var(--space-xl) 5rem;
}

.footerPlayImg {
  max-width: 64px;
  border-radius: var(--space-md);
  flex: 0 0 auto;
}

.mediaPlayerPlayButton:hover {
  color: var(--clr-primary);
}

.mediaPlayerPlayButton:disabled {
  color: var(--clr-gray);
}

.volumeSlider {
  min-width: 100px;
  max-width: 100px;
}

.musicSlider {
  min-width: 200px;
}

.footerRight {
  display: flex;
}

.musicTimerWrapper {
  display: flex;
}

/* .mediaDetils {
  max-width: 150px;
} */

@media (max-width: 991px) {
  .volumeSlider {
    display: none;
  }

  .footer {
    grid-template-columns: auto auto auto;
  }
}

@media (max-width: 767px) {
  .footer {
    grid-template-columns: auto auto;
  }
  .musicTimerWrapper,
  .footerRight {
    display: none;
  }
}

@media (max-width: 575px) {
  .footer {
    grid-template-columns: 1fr auto;
  }
  .mediaControls button:not(.mediPlay) {
    display: none;
  }
}
